.red {
  color:red
}
.month{
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(7,1.5rem);

}
.day{
  display: flex;
  width: 1.5rem;
  height: 1.5rem;
  justify-content: center;
  align-items: center;
  border: 1px solid brown;
}